@{
	ViewData["Title"] = "Требования к BIM моделям";
	Layout = "/Views/Shared/_LayoutRequirePage.cshtml";
}
<h2 style="color: var(--pink);">6. Порядок проверки модели</h2>
<p class="regular-18">6.1. Исполнитель составляет график моделирования с указанием сроков проверок BIM-модели. График утверждается Заказчиком. Согласно графику (либо по запросу Заказчика) Исполнитель направляет в адрес Заказчика модель для проверки моделирования.</p>
<p class="regular-18" style="color: var(--pink);">6.2. Проверка модели</p>
<p class="regular-18">Модель проверяется Заказчиком путем проведения автоматических и визуальных проверок с выдачей отчетов об ошибках:</p>
<ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
	<li>BCF – отчет об ошибках в формате BCF, который может в дальнейшем использоваться в программах, обеспечивающих формирование BIM (по желанию Исполнителя);</li>
	<li>Excel – отчет об ошибках в формате XLS с дальнейшим использованием ID элементов.</li>
</ul>
<p class="regular-18"><em>Примечание:</em> использование BCF описано в приложении №6.</p>
<p class="regular-18" style="color: var(--pink);">6.3. Заключение об отсутствии ошибок</p>
<p class="regular-18">В случае отсутствия ошибок Заказчик выдает положительное заключение об отсутствии ошибок. Печать и передача чертежей Заказчику может осуществляться только после полного одобрения модели и проверки электронных версий чертежей. Согласование осуществляется через чек-листы и при достижении 100% на стадии П и стадии Р.</p>
<p class="regular-18" style="color: var(--pink);">6.4. Перечень проверок</p>
<p class="regular-18">Полный перечень проверок, которые должна пройти модель, предоставляется Подрядчику Заказчиком.</p>