@{
	ViewData["Title"] = "Требования к BIM моделям";
	Layout = "/Views/Shared/_LayoutRequirePage.cshtml";
}
<h2 style="color: var(--pink);">5. Передача модели</h2>
<p class="regular-18">При передаче BIM модели, файлы не должны содержать не используемые в модели элементы:</p>
<ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
    <li>Контекстные объекты;</li>
    <li>Элементы, не относящиеся к основной модели;</li>
    <li>Импортированные CAD элементы.</li>
</ul>
<p class="regular-18">Не допускается:</p>
<ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
    <li>Ручная правка размеров;</li>
    <li>Наложение и/или дублирование элементов.</li>
</ul>
<p class="regular-18" style="color: var(--pink);">5.1. Печать и передача чертежей Заказчику</p>
<p class="regular-18">Печать и передача чертежей Заказчику должно осуществляться только после согласования моделей со стороны Заказчика (согласование информационных моделей осуществляется BIM-специалистом Технического Заказчика).</p>
<p class="regular-18" style="color: var(--pink);">5.2. Учёт всех объектов</h2>
<p class="regular-18">Модель необходимо разрабатывать таким образом, чтобы на этапе передачи моделей Заказчику в модели были учтены все объекты и элементы, необходимые для расчета Ресурсной ведомости.</p>
<p class="regular-18" style="color: var(--pink);">5.3. Передача BIM-моделей и документации</h2>
<p class="regular-18">BIM-модели и проектная документация предоставляются Заказчику в соответствии с согласованным графиком проектных работ, посредством размещения их в СОД в информационном пространстве, специально выделенном для доступа Заказчика.</p>
<script>
</script>