@{
	ViewData["Title"] = "Требования к BIM моделям";
	Layout = "/Views/Shared/_LayoutRequirePage.cshtml";
}
<h2 style="color: var(--pink);">8. Приложения</h2>
<ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
	<li>Приложение №1 – обмена информацией через СОД;</li>
	<li>Приложение №2 – матрица коллизий;</li>
	<li>Приложение №3 – таблица LOD и LOI;</li>
	<li>Приложение №4 – таблица моделируемых элементов на основании Видов Работ;</li>
	<li>Приложение №5 – экспорт в IFC с использованием файла маппинга;</li>
	<li>Приложение №6 – использование BCF.</li>
</ul>