@{
	ViewData["Title"] = "Требования к BIM моделям";
	Layout = "/Views/Shared/_LayoutRequirePage.cshtml";
}
<h2 style="color: var(--pink);">7. Обмен информацией</h2>
<p class="regular-18">Заказчик предоставляет Исполнителю «Справочник материалов», который содержит данные о материалах, используемых при заполнении информации в элементах модели.</p>
<p class="regular-18">В рамках выполнения работ по созданию BIM моделей объекта Исполнитель обеспечивает доступ Заказчику к актуальной версии модели посредством размещения их в СОД (TDMS) в информационном пространстве, специально выделенном для доступа Заказчика. Обновление модели должно происходить с периодичностью раз в две недели (срок может быть изменен в зависимости от сложности проекта и при согласии сторон). В состав данных, передаваемых Заказчику, должны входить модели в формате IFC и в формате данных программы, в которой проектировалась информационная модель.</p>