@{
	ViewData["Title"] = "Требования к BIM моделям";
	Layout = "/Views/Shared/_LayoutRequirePage.cshtml";
}
<h1 id="up">2. План реализации проекта</h1>

<h2 style="color: var(--pink);">2.1. Цели BIM проекта</h2>
<p class="definition regular-18">2.1.1. Принятие проектных решений, необходимых и достаточных для строительства объекта (архитектурные и конструктивные решения, технологические решения, наружные и внутренние инженерные сети, решения генерального плана), их оценку, согласование и изменение.</p>
<p class="definition regular-18">2.1.2. Обеспечение качества проектных решений с помощью поэтапного контроля в ИМ.</p>
<p class="definition regular-18">2.1.3. Просмотр актуальных технических решений и объемов материалов в ИМ.</p>
<p class="definition regular-18">2.1.4. Обеспечение отсутствия противоречивой информации в разных документах и источниках данных, связанных с BIM проектом.</p>
<p class="definition regular-18">2.1.5. Оперативный анализ проектных решений, подсчет технико-экономических показателей.</p>
<p class="definition regular-18">2.1.6. Оперативный подсчет ведомостей объемов материалов.</p>
<p class="definition regular-18">2.1.7. Подсчет стоимостных показателей по объекту посредством привязки элементов модели к классификатору.</p>
<p class="definition regular-18">2.1.8. Отслеживание проектных ошибок и коллизий.</p>
<p class="definition regular-18">2.1.9. Формирование чертежей рабочей документации, экспортированных из ИМ.</p>
<p class="definition regular-18">2.1.10. Визуальный контроль проектных решений.</p>
<p class="definition regular-18">2.1.11. Организовать работу в СОД.</p>
<p class="definition regular-18">2.1.12. Осуществить строительный контроль строительства объекта на основании ИМ.</p>

<h2 id="22" style="color: var(--pink);">2.2. Стадийность проектирования</h2>
<p class="definition regular-18">2.2.1. Технологии информационного моделирования применяются на стадиях «ЭП», «ПД» и «РД».</p>
<p class="definition regular-18">2.2.2. Уровень детализации на каждой стадии принимается на основании ТЗ и ресурсной ведомости.</p>
<p class="definition regular-18">2.2.3. Переход от стадии к стадии предусматривает накопление и уточнение информации по объекту.</p>
<p class="definition regular-18">2.2.4. При необходимости, на новой стадии допустимо создание новой ИМ.</p>

<p class="definition regular-18">ИМ в рамках эскизного проекта:</p>
<ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
    <li>Общее объемно‐планировочное представление объекта;</li>
    <li>Проработаны фасадные решения (концепция, материал, цветовое исполнение);</li>
    <li>Обеспечена возможность подсчета объемов по основным строительным материалам;</li>
    <li>Обеспечена возможность подсчета объемов технико-экономических показателей;</li>
    <li>Выполнен экспорт чертежей, схем и изображений из ИМ в качестве альбома эскизного проекта;</li>
    <li>Выполнена проверка и подтверждено соответствие ИМ требованиям ТЗ.</li>
</ul>

<p class="definition regular-18">ИМ в рамках проектной документации:</p>
<ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
    <li>Точное объемно‐планировочное представление объекта;</li>
    <li>Архитектурные и конструктивные решения приняты на основании расчетов;</li>
    <li>Обеспечена возможность подсчета объемов по строительным материалам;</li>
    <li>Обеспечена возможность подсчета объемов технико-экономических показателей;</li>
    <li>Проработаны проектные решения по инженерным системам и оборудованию на основании расчетов;</li>
    <li>Выполнен экспорт чертежей проектной документации в соответствии с требованиями в соответствии с действующей редакцией Постановления Правительства РФ от 16.02.2008 N 87 «О составе разделов проектной документации и требованиях к их содержанию» и ГОСТ Р 21.1101-2013 Система проектной документации для строительства. Основные требования к проектной и рабочей документации;</li>
    <li>Выполнена проверка и подтверждено соответствие ИМ требованиям ТЗ.</li>
</ul>

<p class="definition regular-18">ИМ в рамках рабочей документации:</p>
<ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
    <li>Точное соответствие технических решений решениям в ИМ в рамках Проектной документации;</li>
    <li>Выполнена детализация узлов, строительных изделий, в объеме необходимом и достаточном для строительства объекта;</li>
    <li>Обеспечена возможность подсчета объемов по всем строительным материалам;</li>
    <li>Обеспечена возможность подсчета объемов технико-экономических показателей;</li>
    <li>Проработаны технические решения по инженерным системам и оборудованию, в том числе с учетом особенностей монтажа;</li>
    <li>Каждый объект привязан к соответствующему этапу реализации объекта в соответствии с графиком производства работ;</li>
    <li>Выполнен экспорт чертежей рабочей документации в соответствии с требованиями ГОСТ Р 21.1101-2013 Система проектной документации для строительства. Основные требования к проектной и рабочей документации;</li>
    <li>Выполнена проверка и подтверждено соответствие ИМ требованиям ТЗ.</li>
</ul>

<h2 id="23" style="color: var(--pink);">2.3. Применение Среды общих данных</h2>
<ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
    <li>Обмен любой технической документацией по проекту производится через СОД. Средой общих данных у Заказчика является TDMS (Technical Data Management Systems);</li>
    <li>Структура данных определяется СОД;</li>
    <li>Правила обмена информацией через СОД содержатся в Регламенте о порядке обмена данными (Приложение №1).</li>
</ul>
<span class="bottom-span" style="color: plum;"><a href="#up">Наверх</a></span>