@{
	ViewData["Title"] = "Требования к BIM моделям";
	Layout = "/Views/Shared/_LayoutRequirePage.cshtml";
}
<h1 id="up">4. Требования к BIM-модели</h1>
  <p class="definition regular-18">Данный раздел содержит основные требования для всех участников, участвующих в информационном моделировании.</p>
  <h2 style="color: var(--pink);">4.1. Общие требования к BIM модели</h2>
  <p class="definition regular-18">4.1.1. Информационная модель, передаваемая Заказчику от Исполнителя, должна позволять формировать всю выходную рабочую документацию и данных, заложенных в модель.</p>
  <p class="definition regular-18">4.1.2. Рабочая документация, представленная в информационной модели, должна быть выполнена в соответствии с действующими нормативными документами на основе ГОСТ и СПДС с учетом возможностей технологии информационного моделирования.</p>
  <p class="definition regular-18">4.1.3. Модель должна быть проработана таким образом, чтобы максимально соответствовать реальному проектируемому объекту в рамках определённых LOD и LOI. Все полученные на основе модели 3D виды, а также чертежи фасадов, разрезов и планов, должны корректно отображать проектируемый объект.</p>
  <p class="definition regular-18">4.1.4. Все разделы проекта, отраженные в модели, должны быть скоординированы между собой и исключать коллизии элементов проекта согласно правилам контроля качества (подробнее смотри раздел Приложение №2 «Матрица Коллизий»).</p>
  <p class="definition regular-18">4.1.5. Все элементы модели должны соответствовать сайту материалов и справочнику материалов. В случае отсутствия требуемого материала, элемент модели должен быть согласован Заказчиком.</p>
  <p class="definition regular-18">4.1.6. Запрещено размещать / создавать элементы по подложкам форматов DWG / PDF, ориентируясь на геометрию 2D чертежа. В таком случае габариты конструкций получаются неточными. 2D подложки можно использовать только в качестве наглядного образца и для сверки с размерами, вынесенными на лист. Срисовывание контуров стен с DWG приводит к многократным правкам при дальнейшем оформлении.</p>
  <p class="definition regular-18">4.1.7. Прописывать в спецификации расчеты немоделируемых элементов необходимо по согласованию с Заказчиком. Все немоделируемые элементы необходимо фиксировать в BEP.</p>
  <p class="definition regular-18">4.1.8. Атрибуты, включённые в состав цифровой информационной модели должны иметь заполненные значения, в соответствии с Приложением LOD/LOI. В случае отсутствия информации о значении атрибута – ставится «–». Данный пункт необходим для корректной проверки атрибутов и выгрузки данных из ЦИМ.</p>
  <p class="definition regular-18">4.1.9. Узлы должны быть ассоциативными с основной моделью и детализированы при помощи 2D графики.</p>
  <p class="definition regular-18">4.1.10. Все файлы модели, отражающие разделы проекта, должны иметь общие координаты и единую ориентацию по сторонам света для взаимной увязки и проверки файлов в сводной модели.</p>
  <p class="definition regular-18">4.1.11. Моделирование объектов модели должно проводиться в соответствии с их истинными размерами в масштабе 1:1, в метрической системе измерений (мм, м<sup>2</sup>, м<sup>3</sup>) и в единой системе координат, в том числе иметь привязку к абсолютным координатам:</p>
  <ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
      <li>Линейные – миллиметры, с округлением до двух знаков после запятой (0,00 мм);</li>
      <li>Высотные отметки – метры, с округлением до трех знаков после запятой (0,000 м);</li>
      <li>Площади – квадратные метры, с округлением до двух знаков после запятой (0,00 м<sup>2</sup>);</li>
      <li>Объемы материалов – кубические метры, с округлением до трех знаков после запятой (0,000 м<sup>3</sup>);</li>
      <li>Угловые размеры - градусы, с округлением до двух знаков после запятой (0,000);</li>
      <li>Уклоны - проценты, с округлением до двух знаков после запятой (0,00%).</li>
  </ul>
  <p class="definition regular-18">В модели необходимо предусмотреть:</p>
  <ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
      <li>Координаты (местные и абсолютные);</li>
      <li>Абсолютные и относительные отметки;</li>
      <li>Фиксированную общую площадку проекта с наименованием и привязкой к топосъемке;</li>
      <li>Угол поворота проекта относительно истинного севера;</li>
      <li>Привязку базовой точки проекта к точке пересечения осей. Начальная координата модели фиксируется на пересечении осей «А» и «1» здания - это пересечение осей должно соответствовать началу координат в проекте (0.00, 0.00, 0.00) с отметкой 0,000 на уровне чистого пола первого этажа.</li>
  </ul>
  <p class="definition regular-18">4.1.12. Не допускается неточное построение элементов модели с последующим округлением значений размера.</p>
  <p class="definition regular-18">4.1.13. Связанные файлы во всех моделях должны быть подгружены по общим координатам.</p>
  <p class="definition regular-18">4.1.14. Не допускается наложение (в одном и том же месте находятся разные объекты) или дублирование (в одном и том же месте находятся идентичные объекты) элементов модели между собой.</p>
  <p class="definition regular-18">4.1.15. Не допускается отсутствие стыковки (сопряжения) элементов модели между собой с образованием зазоров и пустот, если это не является проектным решением.</p>
  <p class="definition regular-18">4.1.16. Элементы BIM-модели должны содержать необходимый набор атрибутов и их значений. Значения атрибутов должны совпадать с их представлением в документации.</p>
  <p class="definition regular-18">4.1.17. Элементы оборудования инженерных систем должны содержать фиксированные точки подключения к инженерным сетям.</p>
  <p class="definition regular-18">4.1.18. Элементы оборудования инженерных систем следует моделировать с учетом нормируемых зон обслуживания.</p>
  <p class="definition regular-18">4.1.19. Все BIM модели должны быть строго классифицированы по типу и типоразмеру на основе библиотечных и шаблонных элементов.</p>
  <p class="definition regular-18">4.1.20. В элементах монолитных конструкций должны быть смоделированы все технологические отверстия семействами, предусмотренные проектом раздела КР.</p>
  <p class="definition regular-18">4.1.21. Спецификации в проекте должны формироваться автоматически на основе информационной модели, кроме тех элементов, которые не моделировались на основании таблицы моделируемых элементов (приложение №).</p>
  <p class="definition regular-18">4.1.22. Добавить пункт про исключение вспомогательных уровней при экспорте в IFC.</p>
  <p class="definition regular-18">4.1.23. Единственным допустимым способом исключения элемента из спецификаций/ведомости является значение «Нет» (снята галочка) общего параметра “Учитывать в спецификации”.</p>
  <p class="definition regular-18">4.1.24. Все элементы модели должны без искажений транслироваться в IFC-схему данных.</p>
  <p class="definition regular-18">4.1.25. Все элементы должны соответствовать схеме данных IFC, которая описана в требованиях к разработке ЦИМ.</p>
  <p class="definition regular-18">4.1.26. Передаваемый итоговый файл с ИМ не должен являться центральным файлом хранилища (в случае многопользовательского файла).</p>
  <p class="definition regular-18">4.1.27. Предоставляемые цифровые информационные модели должны соответствовать схеме данных ГОСТ Р 10.0.02–2019/ИСО 16739–1:2018.</p>
  <p class="definition regular-18">4.1.28. Цифровые информационные модели должны быть предоставлены в открытом формате данных – IFC STEP Physical File.</p>
  <p class="definition regular-18">4.1.29. Спецификация схемы данных представлена в ГОСТ Р 10.0.02– 2019/ИСО 16739–1:2018.</p>
  <p class="definition regular-18">4.1.30. Соответствие классов и типов классов IFC элементам цифровой информационной модели представлено в ПНСТ “Требования к цифровым информационным моделям объектов непроизводственного значения”.</p>
  <p class="definition regular-18">4.1.31. Согласование проектной и рабочей документации профильными специалистами группы компании АК БАРС Дом по каждому разделу включает в себя промежуточное согласование Цифровой информационной модели BIM координатором проекта. Если раздел разрабатывается в BIM/ТИМ модели, то PDF-альбом не может быть принят без согласования IFC-файла.</p>
  <p class="definition regular-18">4.1.32. Все элементы цифровой информационной модели должны быть выполнены в своих конструктивных размерах, включая формы подрезок, стыков, имеющиеся неровности, углубления, ниши, пазы и прочее, необходимое при проведении строительно-монтажных работ.</p>
  <p class="definition regular-18">4.1.33. Информационное наполнение элементов цифровой информационной модели включает в себя атрибутивный состав и заполнение значений атрибутов.</p>
  <p class="definition regular-18">4.1.34. Цифровая информационная модель объекта капитального строительства должна содержать пространственную структуру, состоящую из:</p>
  <ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
      <li>Проект (IfcProject);</li>
      <li>Участок (IfcSite);</li>
      <li>Здание (IfcBuilding);</li>
      <li>Этаж (IfcBuildingStorey).</li>
  </ul>
  <p class="definition regular-18">4.1.35. Модели инженерных систем должны иметь различные цветовые решения в соответствии с таблицей 1.</p>

  <p class="regular-18" style="color: var(--pink);">Таблица 1 – Цветовые решения инженерных сетей</p>
  <table border="1" style="width: 800px;">
    <thead class="regular-20">
        <tr>
            <th rowspan="2">Разделы проекта</th>
            <th rowspan="2">Тип/Имя системы</th>
            <th rowspan="2">Наименование типа</th>
            <th colspan="2">Цветовая схема</th>
        </tr>
        <tr>
          <th>Код цвета</th>
          <th>Образец</th>
      </tr>
    </thead>
    <tbody class="regular-18" >
        <tr>
            <td>Архитектурные решения</td>
            <td>-</td>
            <td>-</td>
            <td colspan="2">не регламентируется</td>
        </tr>
        <tr>
            <td>Конструктивные и объемно-планировочные решения</td>
            <td>-</td>
            <td>Железобетонные конструкции</td>
            <td colspan="2">не регламентируется</td>
        </tr>
        <tr>
            <td></td>
            <td>-</td>
            <td>Металлические конструкции</td>
            <td colspan="2">не регламентируется</td>
        </tr>
        <tr>
            <td>Система водоснабжения</td>
            <td>В1</td>
            <td>Проектируемые сети хозяйственно-питьевого водопровода</td>
            <td>0, 0, 121</td>
            <td style="background-color: rgb(0, 0, 121);"></td>
        </tr>
        <tr>
            <td></td>
            <td>В2</td>
            <td>Проектируемые сети противопожарного водопровода</td>
            <td>0, 255, 255</td>
            <td style="background-color: rgb(0, 255, 255);"></td>
        </tr>
        <tr>
            <td></td>
            <td>Т3</td>
            <td>Проектируемые сети горячего водоснабжения (подающий трубопровод)</td>
            <td>170, 0, 0</td>
            <td style="background-color: rgb(170, 0, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>Т4</td>
            <td>Проектируемые сети горячего водоснабжения (циркуляционный трубопровод)</td>
            <td>255, 128, 0</td>
            <td style="background-color: rgb(255, 128, 0);"></td>
        </tr>
        <tr>
            <td>Система водоотведения</td>
            <td>К1</td>
            <td>Проектируемые сети бытовой канализации</td>
            <td>128, 0, 0</td>
            <td style="background-color: rgb(128, 0, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>К1н</td>
            <td>Проектируемые сети бытовой канализации напорная</td>
            <td>128, 128, 0</td>
            <td style="background-color: rgb(128, 128, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>К2</td>
            <td>Проектируемые сети дождевой канализации</td>
            <td>0, 64, 0</td>
            <td style="background-color: rgb(0, 64, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>К3</td>
            <td>Проектируемые сети производственной канализации</td>
            <td>128, 0, 255</td>
            <td style="background-color: rgb(128, 0, 255);"></td>
        </tr>
        <tr>
            <td></td>
            <td>К13</td>
            <td>Проектируемые сети дренажной системы от кондиционеров</td>
            <td>0, 255, 0</td>
            <td style="background-color: rgb(0, 255, 0);"></td>
        </tr>
        <tr>
            <td>Система отопления</td>
            <td>Т1</td>
            <td>Проектируемые сети отопления (подающий теплоноситель)</td>
            <td>255, 0, 0</td>
            <td style="background-color: rgb(255, 0, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>Т2</td>
            <td>Проектируемые сети отопления (обратный теплоноситель)</td>
            <td>0, 0, 255</td>
            <td style="background-color: rgb(0, 0, 255);"></td>
        </tr>
        <tr>
            <td>Кондиционирование воздуха</td>
            <td>К1</td>
            <td>Проектируемые сети кондиционирования (подающий трубопровод)</td>
            <td>100, 100, 255</td>
            <td style="background-color: rgb(100, 100, 255);"></td>
        </tr>
        <tr>
            <td></td>
            <td>К2</td>
            <td>Проектируемые сети кондиционирования (обратный трубопровод)</td>
            <td>255, 100, 100</td>
            <td style="background-color: rgb(255, 100, 100);"></td>
        </tr>
        <tr>
            <td>Система пожаротушения</td>
            <td>АПТ</td>
            <td>Водопровод автоматического пожаротушения</td>
            <td>255, 0, 255</td>
            <td style="background-color: rgb(255, 0, 255);"></td>
        </tr>
        <tr>
            <td>Система вентиляции</td>
            <td>П</td>
            <td>Приточный воздух</td>
            <td>255, 0, 0</td>
            <td style="background-color: rgb(255, 0, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>В</td>
            <td>Вытяжной воздух</td>
            <td>0, 0, 255</td>
            <td style="background-color: rgb(0, 0, 255);"></td>
        </tr>
        <tr>
            <td></td>
            <td>ДВ</td>
            <td>Система дымоудаления</td>
            <td>255, 128, 0</td>
            <td style="background-color: rgb(255, 128, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>ДП</td>
            <td>Система подпора воздуха</td>
            <td>0, 255, 0</td>
            <td style="background-color: rgb(0, 255, 0);"></td>
        </tr>
        <tr>
            <td>Система электроснабжения, освещения</td>
            <td>-</td>
            <td>Силовые лотки</td>
            <td>255, 255, 0</td>
            <td style="background-color: rgb(255, 255, 0);"></td>
        </tr>
        <tr>
            <td></td>
            <td>-</td>
            <td>Слаботочные лотки</td>
            <td>255, 0, 255</td>
            <td style="background-color: rgb(255, 0, 255);"></td>
        </tr>
        <tr>
            <td></td>
            <td>-</td>
            <td>Осветительные приборы</td>
            <td>255, 0, 255</td>
            <td style="background-color: rgb(255, 0, 255);"></td>
        </tr>
        <tr>
            <td>Система газоснабжения</td>
            <td>ГС</td>
            <td>Газоснабжение</td>
            <td>200, 200, 50</td>
            <td style="background-color: rgb(200, 200, 50);"></td>
        </tr>
    </tbody>
</table>
<h2 id="42" style="color: var(--pink);">4.2. Деление проекта на файлы моделей</h2>
    <p class="regular-18">
        Информационная модель должна быть разделена на отдельные файлы, связанные друг с другом через ссылочные связи, для обеспечения координации выполнения проектных работ.
        Разрабатываемая информационная модель не должна включать в себя более одного отдельно стоящего здания. Не допускается размещение в одном файле Revit более 1 корпуса многоквартирного жилого дома. Частные случаи деления информационных моделей на отдельные файлы определяются в BEP (рис. 1).
    </p>
    <img src="/images/image1.png" alt="">
    <p class="regular-18" style="margin: 0 auto;">
        Рис. 1 - Разделение BIM-модели
    </p>
    <p class="regular-18">Разбиение проекта на отдельные файлы модели должно производиться по принципу:</p>
    <ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
        <li>для раздела АР - по пространственному делению объекта строительства с учетом подземной и надземной частей, а также отдельно выделенный файл фасадов;</li>
        <li>для раздела КР - по пространственному делению объекта строительства с учетом разделения по деформационным швам;</li>
        <li>для инженерных разделов - по инженерным системам с учетом пространственного деления объекта строительства;</li>
        <li>для иных разделов - по принципу функциональности, разумной достаточности и степени наполнения модели;</li>
        <li>размер одного файла формата *rvt не должен превышать 500 MB.</li>
    </ul>
    
    <h2 id="43" style="color: var(--pink);">4.3. Структура ИМ</h2>
    
    <p class="regular-18">4.3.1. Каждый элемент ИМ должен быть строго отнесен к соответствующей категории/классу/слою объектов в ПО и/или типу IFC.</h2>
    <p class="regular-18">
        Основные типы элементов представлены в Приложении №3 - таблица LOD и LOI. Для всех остальных объектов назначение происходит согласно технической документации спецификации IFC и по согласованию с Техническим Заказчиком.
    </p>
    
    <h2 id="44" style="color: var(--pink);">4.4. Общие требования к моделям по разделам</h2>
    
    <p class="regular-18">4.4.1. Каждый элемент BIM модели, независимо от принадлежности к конкретному разделу проекта, должен находиться в соответствующей его свойствам категории.</p>
    <p class="regular-18">
        Каждый элемент BIM модели (геометрия, положение, ориентация, информация) должен соответствовать решению, принятому в проектной документации (включая соответствие конкретному промышленному образцу изделия или материала внешним видом, формой, информационным насыщением, проектным положением), оговоренному на проект уровню детализации LOD.
    </p>
    
    <p class="regular-18">4.4.2. Архитектурная модель должна прежде всего обеспечивать специалистов смежных разделов модельной подосновой, выполнять функцию хранения информации о материалах и конструкциях и полностью соответствовать проектной документации соответствующей стадии.</p>
    <p class="regular-18">
        При этом степень проработки архитектурной модели должна соответствовать таблице LOD и LOI(Приложение№3), таблице моделируемых элементов на основании Видов Работ (Приложение №4).
    </p>
    
    <p class="regular-18">4.4.3. Модели стен и плит должны иметь разделенную структуру, т.е. каждый слой должен моделироваться отдельно.</p>
    <p class="regular-18">
        Сборные конструкции по определённой технологии (фасады, перегородки из ГКЛ и т.п.) моделируются как несущие конструкции и облицовочные покрытия.
    </p>
    
    <p class="regular-18">4.4.4. Сборка конструктивной модели осуществляется вертикально (по уровням/этажам) и горизонтально (по секциям: деформационные/температурные отсеки), с разбивкой на компоненты и составляющие.</h2>
    <p class="regular-18">
        Обеспечивается корректное сопряжение всех изделий в узлах.
    </p>
    
    <p class="regular-18">4.4.5. Инженерные системы разрабатываются отдельно по каждой дисциплине.</h2>
    <p class="regular-18">
        Степень проработки инженерных моделей установлена в соответствии с таблицей LOD и LOI(Приложение№3), таблицей моделируемых элементов на основании Видов Работ (Приложение №4). Каждый элемент BIM модели инженерных систем должен соответствовать решению, принятому в проектной документации (включая соответствие конкретному промышленному образцу изделия своим внешним видом, формой, эргономикой, информационным насыщением, проектным положением). При этом каждый элемент модели должен соответствовать оговоренному на проект уровню детализации LOD.
    </p>
    
    <h2 id="45" style="color: var(--pink);">4.5. Общие правила обеспечения качества модели</h1>
    <p class="regular-18">
        Данный раздел описывает общие правила, направленные на обеспечение качества работ в среде Информационного моделирования (BIM).
        Ассоциативность модели, документации и данных.
        Все получаемые на основе модели ортогональные виды (планы, разрезы, фасады, фрагменты) должны корректно отображать спроектированный объект. Трехмерная модель должна исключать 2-х мерную аннотативную имитацию принципиальных компонентов модели в рамках исполняемых разделов. Табличные данные (спецификации, экспликации, ведомости) должны полностью соответствовать характеристикам модельных объектов, иметь прямую ассоциативную связь с ними и достоверно отражать количественные данные с модели.
        Скоординированность геометрии.
        Все разделы проекта, отраженные в моделях, должны быть скоординированы между собой. При моделировании не допускается:
    </p>
    <ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
        <li>дублирование;</li>
        <li>наложение элементов (элемент внутри другого элемента), если это не предусмотрено проектным решением;</li>
        <li>отсутствие стыковки между элементами, если это не предусмотрено проектным решением;</li>
        <li>наличие коллизий в соответствии с матрицей коллизий (приложение №).</li>
    </ul>
    
    <p class="regular-18">Элементное и атрибутивное наполнение</h2>
    <p class="regular-18">
        4.5.1. Каждый файл BIM-модели, независимо от принадлежности к конкретному разделу проекта, должен содержать в себе элементы в соответствии с классификатором работ (приложение № таблица моделируемых элементов).
        Элементы модели должны содержать атрибутивную информацию согласно таблице LOD\LOI (приложение №), которые позволяют в полной мере закрыть все сценарии использования BIM-модели.
    </p>
    
    <h2 id="46" style="color: var(--pink);">4.6. Правила определения степени проработки модели (LOD\LOI)</h1>
    <p class="regular-18">
        Основная цель использования LOD в BIM – позволить исполнителям подготовить и предоставить необходимый и достаточный объем графической и информационной составляющей модели на разных стадиях проектирования. В ООО «Ак Барс Девелопмент» LOD определяет 3 уровня проработки элемента – от эскиза до цифровой модели стадии Р. При этом элемент, соответствующий какому-то определенному LOD, соответствует всем требованиям предыдущих уровней проработки. Таким образом, для элементов, разработанных под «цифровая модель (стадия Р)», выполняются все требования стадий «цифровая модель (стадия П)», «стадия эскиза».
    </p>
    <p class="regular-18">
        В таблице 2 приведены определения уровней LOD.
    </p>
    
    <p class="regular-18" style="color: var(--pink);">Таблица 2 – Уровни детализации</h2>
    <table>
        <thead class="regular-20">
            <tr>
                <th>Уровень детализации</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody class="regular-18" >
            <tr>
                <td>Стадия Эскиза</td>
                <td style="padding: 15px;">
                    Части здания/сооружения представлены укрупненно (концептуально):<br>
                    Модельное представление: условный концептуальный объем, сформированный типовыми формообразующими элементами.<br>
                    Точность размеров: условно (приблизительные габариты частей здания/сооружения). Положение и ориентация: приблизительное.<br>
                    Информационное насыщение: Общее данные о наименовании частей здания, их общие экономические и технико-экономические данные (укрупненные площади, объемы, стоимостные характеристики).<br>
                    Назначение: укрупненно отобразить соответствующие части здания в модели и выполнить предварительные расчеты ТЭП.
                </td>
            </tr>
            <tr>
                <td>Цифровая модель (Стадия П)</td>
                <td style="padding: 15px;">
                    Части здания/сооружения представлены уточнено в виде сборки из типовых (системных) элементов модели (систем/конструкций):<br>
                    Модельное представление: системы или конструкции проектируемого объема имеют уточненный (но не обязательно точный) внешний вид и созданы с использованием типовых (системных) инструментов.<br>
                    Точность размеров: общие габариты геометрии систем или конструкций приблизительны. Положение и ориентация: условно точное.<br>
                    Информационное насыщение: общие текстовые данные, описывающие элементы модели (системы/конструкции).<br>
                    Назначение: уточнить содержание частей модели, их количество, размеры, форму, структуру, положение в пространстве модели, примерное количество и описание.
                </td>
            </tr>
            <tr>
                <td>Цифровая модель (Стадия Р)</td>
                <td style="padding: 15px;">
                    Части здания/сооружения представлены детально в виде сборки из типовых элементов модели (систем/конструкций), имитирующих точные проектные единицы с учетом особенностей их геометрии, имеющих значение для установки в проектное положение:<br>
                    Модельное представление: системы или конструкции проектируемого объема имеют детальный внешний вид и созданы с использованием типовых (системных) инструментов и семейств. В модели учитываются все геометрические особенности конструкций и систем, имеющие значение для их монтажа в проектное положение.<br>
                    Положение и ориентация: точное.<br>
                    Информационное насыщение: полные текстовые данные, описывающие элементы модели (системы/конструкции), содержащие информацию необходимую для приобретения, сборки и установки их в проектное положение.<br>
                    Назначение: отобразить все элементы модели (конструкции/системы) с учетом детальной геометрии проектных единиц из которых они состоят, детализировать их структуру, уточнить особенности монтажа в проектное положение, указать детальное положение в пространстве модели, проектное количество и предоставить полные проектные данные о производителе для каждой единицы.
                </td>
            </tr>
        </tbody>
    </table>
    <p class="regular-18">
        4.6.1. Уровни проработки модели на разных стадиях проектирования должны соответствовать LOD и LOI (Приложение №3), тип IFC приведен в таблице моделируемых элементов на основании Видов Работ (Приложение №4).
    </p>

    <h2 id="47" style="color: var(--pink);">4.7. Требования к построению ИМ</h2>
    <p class="regular-18" style="color: var(--pink);">1. Общие требования</p>
    <p class="regular-18">4.7.1. В качестве нулевой отметки по высоте принимается отметка верха конструкции пола первого этажа. А в качестве отметок уровней принимаются отметки конструкции пола.</p>
    <p class="regular-18">4.7.2. Все элементы и объекты ИМ должны иметь габаритные размеры, соответствующие фактическим строительным элементам. В ИМ, как в пределах одного файла, так и в пределах всего набора файлов не должно быть дублированных объектов.</p>
    <p class="regular-18">4.7.3. Все элементы модели, не имеющие собственной геометрии (проемы и т. д.), должны иметь «техническую» геометрию для возможности экспорта в обменный формат.</p>
    <p class="regular-18">4.7.4. Все элементы конструктивной и архитектурной части должны быть соединены между собой для исключения возможности дублирования материалов.</p>
    <p class="regular-18">4.7.5. В проекте не допускается размещение непроектных элементов и элементов оборудования, не подключенных к сети (кроме оборудования электрических и слаботочных систем).</p>
    <p class="regular-18">4.7.6. Все элементы ИМ должны принадлежать соответствующему уровню (проектной отметке), кроме ограждений лестниц.</p>
    <p class="regular-18">4.7.7. Мебель и сантехнические приборы в модели АР необходимо размещать на каждом этаже (включая типовые).</p>
    <p class="regular-18">4.7.8. Все 2D-семейства, используемые в оформлении, должны находиться на нулевой отметке относительно уровня своего размещения.</p>
    <p class="regular-18">4.7.9. Наименования элементов и типоразмеров BIM-модели должны соответствовать требованиям (приложение №).</p>
    <p class="regular-18" style="color: var(--pink);">2. Строительная часть, фасады</p>
    <p class="regular-18">4.7.10. Все несущие стены, ограждающие строительные конструкции, перегородки и колонны выполняются по принципу выполнения конструкций в процессе строительства, преимущественно, поэтажно.</p>
    <p class="regular-18">4.7.11. Пирогу кровли указывать параметр «Назначение_АР» со значением месторасположения «Балкон/Лоджия/Основная/МО».</p>
    <p class="regular-18">4.7.12. В ИМ, при необходимости, следует размещать элементы категории «Парковка» отображающие габаритные размеры парковочного места, содержащий вычисляемый параметр «Периметр парковочного места», при этом, в названии типа следует указать его размеры, тип парковочного места (обычное или для маломобильных групп населения), следует моделировать объемным элементом.</p>
    <p class="regular-18">4.7.13. Лифты следует создавать объемным элементом, соблюдая габаритные размеры.</p>
    <p class="regular-18">4.7.14. Навесные модульные конструкции (навесные фасады из композитных панелей) выполняются с помощью отдельных стен с последующим поэлементным разделением.</p>
    <p class="regular-18">4.7.15. Допускается выполнять наружную отделку элементами на полную высоту здания с последующим поэтажным разделением.</p>
    <p class="regular-18">4.7.16. Штукатурные фасады выполняются с помощью отдельных стен с последующим послойным разделением (утеплитель, отделочный слой с разделением по цветам).</p>
    <p class="regular-18">4.7.17. В витраже необходимо указать к какому типу витраж относится (холодный/теплый), заполнение витража, вид доводчика (с задержкой открывания/ без задержки открывания), ограничитель открывания.</p>
    <p class="regular-18">4.7.18. В наименовании типов стен должно быть учтено их разделение на наружные и внутренние (сокращения в начале наименования типа Нр и Вн).</p>
    <p class="regular-18">4.7.19. Эркерные, угловые и витражные окна выполняются раздельными элементами.</p>
    <p class="regular-18">4.7.20. Цвет материалов фасада в модели должны давать представление о колористических решениях, которые будут передаваться в IFC.</p>
    <p class="regular-18">4.7.21. Если в объекте присутствует деформационный шов, следует создавать кровлю над ним отдельным элементом, в названии которого указать отношение к шву перекрытия. У утеплителя указывать параметр «Назначение_АР» со значением месторасположения «Деф. шов».</p>
    <p class="regular-18">4.7.22. Термовкладыши в составе монолитных плит перекрытия отображать самостоятельными элементами с помощью проемов с соответствующим названием и материалом заполнения.</p>
    <p class="regular-18">4.7.23. Кирпичная кладка парапета, помещений с влажным режимом (с/у, насосная, КУИ), вентиляционных шахт должна быть идентифицирована. Для этого необходимо указать комментарий элементам стена «Парапет», «Влажное помещение», «Вентиляционная шахта» соответственно.</p>
    <p class="regular-18">4.7.24. Для утеплителя лоджий и балконов необходимо добавить параметр «Назначение_АР» со значением месторасположения «Лоджия/балкон».</p>
    <p class="regular-18">4.7.25. Окнам, не входящих в составной элемент, добавить комментарий «Оконный блок».</p>
    <p class="regular-18">4.7.26. При моделировании стен запрещается использование инструмента “Составные стены”.</p>
    <p class="regular-18">4.7.27. Парковочные места должны быть заданы самостоятельными элементами с указанными в свойствах типами парковочных мест и габаритами.</p>
    <p class="regular-18" style="color: var(--pink);">3. Внутренняя отделка</p>
    <p class="regular-18">4.7.28. Отделка пола (рис. 2) должна создаваться отдельным перекрытиям в зависимости от используемого типа, например, в санузлах – отдельный пол с гидроизоляцией, отдельно следует создать элементы отделки лестниц. В наименовании типов перекрытий (полов) следует прописывать: тип конструкции (внутреннее/наружное), используемый материал, толщина. Также необходимо добавить параметр «Назначение_АР» с указанием принадлежности типу помещения «МОП/Коммерческое/Техпом/Жилое».</p>
    <img src="/images/image2.png">
    <p class="regular-18" style="margin: 0 auto;">Рис. 2 - Отделка пола</p>
    <p class="regular-18">4.7.29. В модели АР отобразить вспомогательные элементы для учета обмазочной гидроизоляции, а также покраски стен и колонн.</p>
    <p class="regular-18">4.7.30. Вся внутренняя отделка выполняется однослойными стеновыми конструкциями отдельно от стен ограждающих конструкций и перегородок.</p>
    <p class="regular-18">4.7.31. Подвесные/подшивные/натяжные потолки выполняются категорией “перекрытие” (IfcSlab). Потолкам необходимо добавить параметр «Назначение_АР» с указанием принадлежности типу помещения «МОП/Коммерческое/Техпом/Жилое».</p>
    <p class="regular-18">4.7.32. Отделочные материалы чистовой отделки моделировать внутри помещения, черновой – снаружи.</p>
    <p class="regular-18">4.7.33. Вся отделка должна быть разделена на функциональные зоны. Для этого у элементов в параметре «Назначение_АР» указать «МОП/Коммерческое/Техпом/Жилое».</p>
    <p style="color: var(--pink);">4. Помещения</p>
    <p class="regular-18">4.7.34. Величина площадей помещений должна иметь два знака после запятой.</p>
    <p class="regular-18">4.7.35. Все помещения в модели должны иметь корректную высоту от уровня чистого пола этажа до низа плиты перекрытия этажа или до низа подвесного потолка, не должно быть избыточных, неокруженных и неприсвоенных помещений.</p>
    <p class="regular-18">4.7.36. Помещения должны быть выгружены в сводную ИМ, помещениям должны быть назначены параметры (рис. 3).</p>
    <p class="regular-18">
    <img src="/images/image3.png" style="margin: 0 139px;">
    <p class="regular-18" style="margin: 0 139px;">Рис. 3 – Параметры помещения</p>
    <p class="regular-18">
        ● БС номер;<br>
        ● Имя - согласно реестру помещений (рис. 4). Должно быть 100% совпадение. Для использования иного имени помещения необходимо согласование управления цифрового развития;
    </p>
    <img src="/images/image4.png">
    <img src="/images/image41.png">
    <p class="regular-18" style="margin: 0 auto;">Рис. 4 – Реестр помещений</p>
    <p class="regular-18">
        ● Номер. Формат номера: 1.04 (“этаж” ”точка” ”номер помещения”);<br>
        На типовом жилом этаже помещениям, относящимся к Квартире назначить:<br>
        ● Номер квартиры;<br>
        ● Тип квартиры Буква − характеризует тип квартиры отличный от другой.<br>
        На коммерческом этаже помещениям, относящимся к Офисам назначить:<br>
        ● Номер квартиры − пишется отрицательное значение;<br>
        ● Тип квартиры Буква − назначается цифрой и характеризует тип отличный от другого.
    </p>
    <p class="regular-18">4.7.37. Материалы, назначенные элементам модели, должны быть названы в соответствии с системой наименований.</p>
    <p class="regular-18">4.7.38. Предусмотреть объединенное помещение лифтовой шахты на высоту всех используемых этажей.</p>

    <p style="color: var(--pink);">5. Несущие конструкции и фундаменты</p>
    <p class="regular-18">4.7.39. Любые несущие конструкции, в том числе, монолитные составляющие плит перекрытий, фундаментные конструкции и подстилающие слои должны быть созданы в файле КЖ.</p>
    <p class="regular-18">4.7.40. В модели отобразить фундаменты вместе с основанием послойно с учетом сыпучих материалов, подготовки. Фундаменты должны идентифицироваться из их наименования.</p>
    <p class="regular-18">4.7.41. Создать модель стен и перекрытий по периметру здания ниже нуля для учета: гидроизоляции, теплоизоляции и мембраны (стены должны отличаться по названию).</p>
    <p class="regular-18">4.7.42. Несущие колонны должны создаваться с разделением по уровням, при этом, их геометрия должна быть разделена геометрией плит перекрытий (слой бетона).</p>
    <p class="regular-18">4.7.43. Деформационные швы в различных типах конструкций выполнять отдельными самостоятельными элементами, включая гидрошпонку и утеплитель.</p>
    <p class="regular-18">4.7.44. Промежуточные лестничные площадки следует моделировать отдельными элементами.</p>
    <p class="regular-18">
    4.7.45. Конструкцию внешних стен (рис. 5) разделяйте на три (3) отдельных системных семейства типа «Стена»:<br>
    ● Несущий/самонесущий конструктивный слой (бетон, кирпич, пеноблок, газоблок и т. д.);<br>
    ● Слой изоляции (в одном слое: утеплитель, прослойка, геоткань и т. д.);<br>
    ● Слой отделки (облицовочный кирпич, финишная отделка и т. д.).
    </p>
    <img src="/images/image5.png">
    <p class="regular-18" style="margin: 0 auto;">Рис. 5 – Разделение конструкции внешних стен</p>
    <p class="regular-18">
    ● Конструкцию перекрытий (рис. 6) разделяйте на два (2) отдельных семейства типа «Перекрытие»:<br>
    1) Несущий слой (железобетон и т. д.);<br>
    2) Слой пола (утеплитель, прослойка, геоткань, стяжка, напольное покрытие).<br>
    Устройство плоских кровель выполнять аналогично (несущий слой + покрытие).<br>
    ● При этом подсчёте площадей отделки вертикальных конструкций допускается использовать информационное наполнение модели (не нужно физически моделировать каждый слой краски отдельно).
    </p>
    <img src="/images/image6.png">
    <p class="regular-18" style="margin: 0 auto;">Рис. 6 – Конструкция перекрытий</p>
    <p class="regular-18">● При использовании в проекте вентилируемого фасада, детализированную модель фасада необходимо разрабатывать в отдельном файле (в случаях с фасадом из кладочных элементов модель разделять не обязательно).</p>
    <p class="regular-18">● Колонны и стены моделируйте от верхней отметки плиты перекрытия текущего этажа до нижней отметки плиты следующего этажа (либо до верхней с отступом/привязкой к этажу).</p>
    <p class="regular-18">
    Примечание: если вы используете связку с передачей модели в расчётный комплекс и обратно, допускается моделирование вертикальных конструкций от верхней отметки плиты текущего этажа до верхней плиты следующего этажа. В этом случае необходимо исключить пересечения объёмов путем объединения либо вырезания лишней геометрии.<br>
    После моделирования не следует объединяйте пересекающиеся монолитные элементы инструментом Join, так как это существенно увеличивает время отклика Revit при работе с моделью. Объединение элементов возможно только в трёх случаях:<br>
    ● Во избежание пересечения и дублирования объемов (например, в зоне примыкания стены к круглой колонне/колонне, расположенной под углом);<br>
    ● При попадании элементов в разрез или сечение (чтобы не было лишних линий на чертеже);<br>
    ● При последующей передаче модели в расчётный комплекс.
    </p>
    <p style="color: var(--pink);">6. Армирование</p>
    <p class="regular-18">4.7.46. В модели должны присутствовать сетки и каркасы, а также любые единичные арматурные изделия, за исключением проволоки.</p>
    <p class="regular-18">4.7.47. Элементы армирования не должны существовать за пределами армируемых элементов монолитных бетонных конструкций (за исключением армирования наклонных перекрытий).</p>
    <p class="regular-18">4.7.48. В наименовании любого арматурного каркаса, сетки или иного изделия должна быть прописана его марка, в случае единичных изделий в марке прописывается тип изделия и диаметр стержня.</p>
    <p class="regular-18">4.7.49. Арматурные каркасы должны состоять из самостоятельных элементов категории арматура (IfcReinforcingBar) с объединением в сборку (IfcElementAssembly).</p>
    <p class="regular-18">4.7.50. В наименовании арматурных сеток и каркасов следует указывать армируемый элемент конструкции, в наименовании сеток дополнительно тип сетки, например, фоновая, горизонтальная.</p>
    <p class="regular-18">4.7.51. В свойствах арматурных сеток должен быть указан шаг и тип используемых стержней.</p>
    <p class="regular-18">4.7.52. Модель армирования должна быть разделена по тому же принципу, что и опалубка – ниже нуля, первый этаж, отдельно этажи после первого этажа, кровля.</p>
    <p class="regular-18">4.7.53. В параметрах арматурных стержней необходимо прописать принадлежность к армируемому элементу.</p>
    <p style="color: var(--pink);">7. Инженерные сети</p>
    <p class="regular-18">4.7.54. В вертикальных элементах линейных сегментов любых сетей (стояках) должен быть заполнен параметр «Является стояком» ‐ параметр типа «Да/Нет».</p>
    <p class="regular-18">4.7.55. Инженерное оборудование и изделия допускается моделировать условно с соблюдением общей формы, габаритов и мест подключения сетей.</p>

    <p class="regular-18">4.7.56. В элементах кабельной проводки (короба) должен быть заполнен параметр «Способ прокладки»: в трубе, в штробе, открыто.</p>
    <p class="regular-18">4.7.57. В наименованиях типов светильников следует прописывать: форму и размер, тип лампы, цвет освещения, мощность, световой поток, степень защиты, в названии семейства следует указать слово «Светильник».</p>
    <p class="regular-18">4.7.58. В типах элементов инженерных систем следует прописывать не только диаметр, но и конкретно что это за элемент, а также его технические характеристики.</p>
    <p class="regular-18">4.7.59. Все элементы инженерных сетей должны принадлежать конкретной системе (Канализация, Холодное водоснабжение, Приточная вентиляция и так далее). В случае, если элемент (например, вентиляционная решетка естественной вентиляции) не подключен к сети, входящей в систему, он должен быть присоединен к существующей или новой системе принудительно.</p>
    <p class="regular-18">4.7.60. Элементы сетей ОВ и ВК, СС и ЭОМ должны иметь параметры «Тип системы» и «Сокращение для системы».</p>
    <p class="regular-18">4.7.61. В случае необходимости (согласно требованиям нормативной документации) к элементам модели должна добавляться изоляция (огнезащита должна быть в составе параметров труб). В типах изоляции трубопроводов и воздуховодов должно быть указано полное название используемой изоляции или огнезащиты, а также должен использоваться корректный материал с полностью прописанными в его наименовании общими характеристиками не привязываясь к производителю.</p>
    <p class="regular-18">4.7.62. Аннотационные объекты на документации (марки, размеры и прочие данные) должны транслировать информационные характеристики элемента. При невозможности транслирования свойств добавление информации посредством текста, не связанного с объектами, согласовывается с Заказчиком и прописывается в BEP.</p>
    <p class="regular-18">4.7.63. Инженерные системы обязательно должны быть проложены с требуемым уклоном в соответствии с проектным решением за исключением труб малых диаметров (32 мм и меньше).</p>
    <p class="regular-18">4.7.64. Элементы инженерных сетей, которые относятся к офису должны быть идентифицированы. Для этого в комментарии указать «Коммерческое».</p>
    <p class="regular-18">4.7.65. Не допускаются разрывы систем, если это не предусмотрено проектным решением.</p>
    
    <h2 id="48" style="color: var(--pink);">4.8. Требования к BIM модели стадии П</h2>
    <p class="regular-18">4.8.1. Модель на стадии «Цифровая модель (стадия П)» формируется путем моделирования здания или сооружения на основании задания на проектирование. При наличии, должна использоваться модель стадии Эскиз как основа для архитектурных элементов.</p>
    <p class="regular-18">4.8.2. Состав и наполнение модели на стадии П должно соответствовать требованию по разделению по классификатору работ (приложение №).</p>
    <p class="regular-18">4.8.3. На этапе разработки проектной документации BIM-модели должны содержать объем данных достаточный для:</p>
    <p class="regular-18">● оценки полноты, качества, обоснованности и соответствия проектных решений требованиям технического задания;</p>
    <p class="regular-18">● анализа междисциплинарных пространственных коллизий;</p>
    <p class="regular-18">● формирования графических частей разделов проектной документации в соответствии с требованиями Постановления Правительства РФ от 16 февраля 2008 г. № 87 (ред. от 21.04.2018).</p>
    <p class="regular-18">4.8.4. На этапе подготовки проектной документации моделированию подлежат, в зависимости от раздела – планы, схемы, трассы, расстановка оборудования и изделий с размерами (габаритами).</p>
    <p class="regular-18">4.8.5. По окончанию работ по проектированию модели стадии «Цифровая модель (стадия П)», Исполнитель должен передать Заказчику модель, которая проходит все проверки.</p>
    <p class="regular-18">4.8.6. Модель передается в формате IFC (2x3 и выше) и в оригинальном формате, в котором данная модель проектировалась.</p>
    <p class="regular-18">4.8.7. Элементы модели на стадии «Цифровая модель (стадия П)» должны соответствовать таблице LOD/LOI и содержать в себе все необходимые параметры.</p>

    <h2 id="49" style="color: var(--pink);">4.9. Требования к BIM модели стадии Р</h2>
    <p class="regular-18">4.9.1. На данной стадии происходит уточнение параметров модели, корректировка текущей информации в элементах модели и добавление новых свойств (при необходимости), проработка узлов и расстановка закладных деталей.</p>
    <p class="regular-18">4.9.2. Состав и наполнение модели на стадии П должно соответствовать требованию по разделению по классификатору работ (приложение №).</p>
    <p class="regular-18">4.9.3. На этапе разработки рабочей документации BIM-модели должны содержать объем данных достаточный для:</p>
    <p class="regular-18">● соответствия требованиям к рабочей документации;</p>
    <p class="regular-18">● соответствия модели расчетным показателям;</p>
    <p class="regular-18">● точной пространственной привязки оборудования и сетей;</p>
    <p class="regular-18">● формирования листов основных комплектов рабочих чертежей в соответствии с требованиями СПДС;</p>
    <p class="regular-18">● подсчета объемов материалов, изделий, оборудования и составления спецификаций.</p>
    <p class="regular-18">4.9.4. Элементы модели заполняются согласно «Справочнику материалов» и «Классификатору работ», которые Заказчик предоставляет Подрядчику в качестве приложения к ТЗ.</p>
    <p class="regular-18">4.9.5. На этапе подготовки рабочей документации моделированию подлежат, в зависимости от раздела, все элементы, необходимые для заполнения Ресурсной ведомости.</p>
    <p class="regular-18">4.9.6. Модель на стадии «Цифровая модель (стадия Р)» моделируется на основании модели стадии «Цифровая модель (стадия П)», имеет все необходимые параметры, включая Параметры ABD со свойствами:</p>
    <p class="regular-18">● ABD_ Наименование;</p>
    <p class="regular-18">● ABD_ ГОСТ/ТУ;</p>
    <p class="regular-18">● ABD_ОКПД2;</p>
    <p class="regular-18">● ABD_ Единица измерения.</p>
    <p class="regular-18">Примечание: Данные параметры необходимо добавить по методичке (Приложение №5 Экспорт в IFC с использованием файла маппинга).</p>
    <p class="regular-18">4.9.7. Элементы модели, которые используются внутри других элементов, либо которых невозможно отнести к той или иной конструкции, должны хранить в себе атрибут «Комментарий», в котором будет прописано, где участвует данный элемент (Например, арматура должна хранить в себе комментарий, в котором написано «Армирование колонн», отверстие для воздуховода должно хранить в себе комментарий, в котором написано «Отверстие воздуховода» и т.п.).</p>
    <p class="regular-18">4.9.8. Элементы модели заполняются согласно «Справочнику материалов» и «Классификатору работ», который Заказчик предоставляет Подрядчику в качестве приложения к ТЗ.</p>
    <p class="regular-18">4.9.9. По окончанию работ по проектированию модели стадии Р, Исполнитель должен передать Заказчику модель, которая проходит все проверки.</p>
    <p class="regular-18">4.9.10. Модель передается в формате IFC (2x3 и выше) и в оригинальном формате, в котором данная модель проектировалась.</p>
    
    <h2 id="410" style="color: var(--pink);">4.10. Требования к наименованию файлов</h2>
    <p class="regular-18">4.10.1. Названия файлов проекта должны быть созданы по определенной системе именования. При наличии системы именования у исполнителя, допускается ее использование по согласованию с Заказчиком.</p>
    <p class="regular-18">[Аббревиатура_объекта]_[Корпус]_[Блок_секция]_[Часть_здания]_[Раздел_проектировния]
        <br>_[Подраздел_проектирования]_[Позиция_модели]_[Стадия]_[Версия_ПО]</p>
    <p class="regular-18">Например: GDMRPK1_H1.1_BS1_AR_(m)_R20</p>
    <p class="regular-18" style="color: var(--pink);">Таблица 3 – Наименование модели</p>
    <table class="regular-18">
    <tr>
        <th>Поле</th>
        <th>Описание</th>
    </tr>
    <tr>
        <td>Аббревиатура объекта</td>
        <td>GDMRPK1-первые буквы и цифры в словах наименования объекта («Жилой дом Мой Ритм ПК-1»)</td>
    </tr>
    <tr>
        <td>Корпус</td>
        <td>H1.1</td>
    </tr>
    <tr>
        <td>Блок секция</td>
        <td>BS1</td>
    </tr>
    <tr>
        <td>Часть здания</td>
        <td>Не указана в наименовании (можно указать при делении файлов ниже 0.000 и выше 0.000)</td>
    </tr>
    <tr>
        <td>Раздел проектирования</td>
        <td>AR</td>
    </tr>
    <tr>
        <td>Позиция модели</td>
        <td>(m)-основная модель</td>
    </tr>
    <tr>
        <td>Стадия</td>
        <td>Не указана в наименовании (можно указать, если одновременно разрабатываются разные стадии проекта в разных файлах)</td>
    </tr>
    <tr>
        <td>Версия ПО</td>
        <td>R20</td>
    </tr>
</table>
<p class="regular-18">4.10.2. Все поля имени являются опциональными.</p>
<p class="regular-18">4.10.3. Запрещается использовать в именах следующие знаки и символы:</p>
<p class="regular-18">, . ! « £ $ % ^ & * ( ) { }[ ] + = < > ? | \ / ’ ~ # ¬ ` ‘</p>
<p class="regular-18" style="color: var(--pink);">Таблица 4 – Наименование разделов модели</p>
<table class="regular-18">
    <tr>
        <th>Раздел проектирования</th>
        <th>Аббревиатура</th>
        <th>Примечание</th>
    </tr>
    <tr>
        <td>Файл общих осей и уровней</td>
        <td>_BASE_(m)</td>
        <td>Разбивка осей и уровней</td>
    </tr>
    <tr>
        <td>Базовый координационный файл</td>
        <td>_GT_(m)</td>
        <td>Проектное положение, координаты, формирование сводной ЦИМ</td>
    </tr>
    <tr>
        <td colspan="3">Стадия проектная документация (ПД и РД)</td>
    </tr>
    <tr>
        <td>Архитектурные решения</td>
        <td>_AR_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td></td>
        <td>_AR_(so)</td>
        <td>Строительный объем</td>
    </tr>
    <tr>
        <td></td>
        <td>_AR_(e)</td>
        <td>Фасадные решения</td>
    </tr>
    <tr>
        <td>Конструктивные решения</td>
        <td>_KR_(kg)</td>
        <td>Элементы модели и чертежи КЖ</td>
    </tr>
    <tr>
        <td></td>
        <td>_KR_(km)</td>
        <td>Элементы модели и чертежи КМ</td>
    </tr>
    <tr>
        <td></td>
        <td>_KR_(kd)</td>
        <td>Элементы модели и чертежи КД (конструкции деревянные)</td>
    </tr>
    <tr>
        <td></td>
        <td>_KR_(as)</td>
        <td>Элементы модели и чертежи АС (кладочные планы выполняются в разделе AR)</td>
    </tr>
    <tr>
        <td>Водоснабжение и канализация</td>
        <td>_WS_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Вентиляция</td>
        <td>_V_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Отопление</td>
        <td>_H_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Теплоснабжение</td>
        <td>_TS_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Кондиционирование</td>
        <td>_AC_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>ИТП</td>
        <td>_ITP_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Пожаротушение</td>
        <td>_WFFS_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Система внутреннего электроосвещения и силового оборудования</td>
        <td>_EO_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Сети связи</td>
        <td>_SS_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Технологические решения</td>
        <td>_TX_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Автоматика</td>
        <td>_AV_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
    <tr>
        <td>Газоснабжение</td>
        <td>_GS_(m)</td>
        <td>Элементы модели и чертежи</td>
    </tr>
</table>
<h2 id="411" style="color: var(--pink);">4.11. Требования к наименованию уровней</h2>
<p class="regular-18">Уровни в модели должны соответствовать правилу наименований:</p>
<p class="regular-18">[Блок-секция]*_[Название]_[Номер]*_[Переменная часть]*_[Отметка]</p>
<p class="regular-18">Каждый блок должен соответствовать таблице 5.</p>
<p class="regular-18" style="color: var(--pink);">Таблица 5 – Наименование уровней модели (продолжение)</p>
    <table border="1" class="regular-18">
        <tr>
            <th>Маска наименования</th>
            <th>Описание</th>
            <th>Комментарий</th>
            <th>Пример</th>
        </tr>
        <tr>
            <td>Блок-секция</td>
            <td style="padding: 15px;">Описание принадлежности к блок-секции/корпусу через код и номер</td>
            <td style="padding: 15px;">БС - блок-секция,
                К - корпус
            </td>
            <td rowspan="4">БС2_Э_04_+10.600, БС1_ПЭ_02_-4.500, К1_МО_+57.280</td>
        </tr>
        <tr>
            <td>Название</td>
            <td style="padding: 15px;">Краткое обозначение уровня через код</td>
            <td style="padding: 15px;">Подземный этаж - ПЭ, Стилобат - С, Этаж - Э, Кровля - К, Машинное отделение - МО</td>
        </tr>
        <tr>
            <td>Номер</td>
            <td style="padding: 15px;">Номер этажа</td>
            <td style="padding: 15px;">С 1 по 9 необходим префикс «0»</td>
            
        </tr>
        <tr>
            <td>Отметка</td>
            <td style="padding: 15px;">Отметка содержит значение фактического расположения «+/- 0.000»</td>
            <td style="padding: 15px;">Разделителем в значении является знак «.» – точка</td>
        </tr>
    </table>
    <p class="regular-18">Кровли каждой блок-секции должны быть разделены по наименованию (рис.7). </p>
    <img src="/images/image7.png">
    <p class="regular-18" style="margin: 0 auto;">Рис. 7 – Наименование кровли разных блок-секций</p>
    <h2 id="412" style="color: var(--pink);">4.12. Требования к программному обеспечению</h2>
    <p class="regular-18">4.12.1. Программные решения для информационного моделирования объектов должны обеспечивать формирование BIM на всех стадиях проектирования.</p>
    <p class="regular-18">4.12.2. Для обеспечения процесса обмена данными в открытом формате программные решения для создания и использования BIM должны поддерживать экспорт и импорт в открытом формате IFC (версии 2x3 и выше).</p>
    <h2 id="413" style="color: var(--pink);">4.13. Требования к составу и форматам выдачи результатов проекта</h2>
    <p class="regular-18">4.13.1. Основными результатами проекта является набор цифровых информационных моделей, а также проектная и рабочая документация в электронном виде.</p>
    <p class="regular-18">4.13.2. BIM-модель объекта должна содержать и обеспечивать выдачу проектной и рабочей документации в виде чертежей из модели. Перед началом проектирования Заказчику и исполнителю необходимо согласовать случаи, когда чертежи разрабатываются и оформляются вне информационной модели. Если данный перечень не составлен и не согласован, принимается 100% соответствие чертежей, расположенных в информационной модели и полученных Заказчиком в формате PDF.</p>
    <p class="regular-18">4.13.3. BIM-модели по разделам проекта предоставляются:</p>
    <ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
        <li>в формате IFC версии 2x3 и выше;</li>
        <li>в исходных форматах применяемого программного обеспечения (с указанием версии);</li>
        <li>с параметрами элементов.</li>
    </ul>
    <p class="regular-18">4.13.4. Проектная и рабочая документация, полученная из BIM-модели, предоставляется в формате PDF.</p>
    <p class="regular-18">4.13.5. Исполнитель по требованию Заказчика презентует проектные решения с использованием BIM-модели.</p>
    <p class="regular-18">4.13.6. При необходимости по согласованию сторон цифровые результаты проекта могут быть заверены усиленными квалифицированными цифровыми подписями. Порядок заверения определяется внутренними регламентами организации Заказчика.</p>
    <h2 id="414" style="color: var(--pink);">4.14. Требования к качеству BIM-моделей</h2>
    <p class="regular-18">4.14.1. BIM-модель должна регулярно проходить проверки визуально или автоматически на:</p>
    <ul class="regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
        <li>коллизии;</li>
        <li>соответствие нормам проектирования;</li>
        <li>на «неразрывность» примыкания элементов конструкций (объекты модели не должны «висеть в воздухе»);</li>
        <li>на «неразрывность» систем инженерных коммуникаций;</li>
        <li>соответствие необходимому уровню проработки LOD, LOI.</li>
    </ul>
    <p class="regular-18">4.14.2. Все имеющиеся коллизии должны быть устранены в соответствии с матрицей коллизий (приложение №). Допускается (по согласованию с Заказчиком) формирование списка разрешенных коллизий незначительных элементов.</p>
    <p class="regular-18">4.14.3. Допускается также наличие коллизий, устранение которых должно быть проведено посредством разработки детальных технических решений, не предусмотренных в рамках настоящей стадии проектирования. Перечень данных допущений отдельно оговаривается и согласовывается с Заказчиком.</p>
    <p class="regular-18">4.14.4. При проверке на коллизии обязательно учитывать заданные зоны обслуживания, а также толщину изоляции.</p>
    <p class="regular-18">4.14.5. Периодичность проверки информационной модели на коллизии (пересечения) осуществляется раз в месяц, путем передачи Заказчику моделей в формате IFC. Допускается изменение периодичности передачи моделей по согласованию с Заказчиком. Порядок обмена данными описан в документе.</p>
    <p class="regular-18">4.14.6. В случае выявления слишком большого количества коллизий (допустимое количество определяется в BEP) анализ коллизий со стороны BIM-координатора заказчика не проводится до уточнения проектных решений проектировщиком.</p>
    <span class="bottom-span" style="color: plum;"><a href="#up">Наверх</a></span>