@{
	ViewData["Title"] = "Требования к BIM моделям";
	Layout = "/Views/Shared/_LayoutRequirePage.cshtml";
}
<h1 id="up">3. Требования к применяемым документам по стандартизации информационного моделирования в строительстве</h1>
<p class="definition regular-18" style="color: var(--pink);">Разработка информационных моделей объектов должна выполняться с учетом требований следующих нормативных документов:</p>
<ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
    <li>ГОСТ Р 57563-2017/ISO/TS 12911:2012 Моделирование информационное в строительстве. Основные положения по разработке стандартов информационного моделирования зданий и сооружений;</li>
    <li>ГОСТ Р 57310–2016 (ИСО 29481-1:2010) Моделирование информационное в строительстве. Руководство по доставке информации. Методология и формат;</li>
    <li>СП 333.1325800.2017 Информационное моделирование в строительстве. Правила формирования сверхинформационной модели объектов на различных стадиях жизненного цикла;</li>
    <li>СП 331.1325800.2017 Информационное моделирование в строительстве. Правила обмена между информационными моделями объектов и моделями, используемыми в программных комплексах;</li>
    <li>СП 328.1325800.2017 Информационное моделирование в строительстве. Правила описания компонентов информационной модели.</li>
</ul>