@{
	ViewData["Title"] = "База Знаний АБД";
	Layout = "/Views/Shared/_LayoutKnowPage.cshtml";
}
<div class="container" id="up">
	<div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 40px;">
		<section id="sidebar-knowledge-base">
			<div class="author-card">
				<p class="medium-20">Автор</p>
				<div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">
					<div style="text-align: right;">
						<p class="regular-20">Галимова Зарина</p><br>
						<span class="light-15">BIM специалист</span>
					</div>
					<img src="/images/author.svg" alt="">
				</div>
			</div>
			<h1 class="medium-20">Новое</h1>
			<div style="display: flex; flex-direction: row; max-height: 110px;">
				<div class="new-card"></div>
				<div class="new">
					<p class="regular-15" style="margin: 0px; line-height: 17px; font-size: 17px;">Каким должен быть SUPER IFC?</p>
				</div>
			</div>
		</section>
		<section id="req-content" style="gap: 10px;">
			<div class="author-card" id="mobile-bar-author">
				<p class="medium-20">Автор</p>
				<div style="display: flex; flex-direction: row; gap: 10px; align-items: center;">
					<div style="text-align: right;">
						<p class="regular-20">Галимова Зарина</p><br>
						<span class="light-15">BIM специалист</span>
					</div>
					<img src="/images/author.svg" alt="">
				</div>
			</div>
			<div class="preview-topic"></div><br>
			<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; gap: 20px;">
				<div class="tag">
					<img src="/images/tag.svg" alt="">
					<p class="regular-13" style="margin-bottom: 0px; color: var(--purple);">BIM Координация</p>
				</div>
				<p class="light-15" style="color: var(--purple);">Дата публикации: <span class="light-15" style="color: var(--purple);">15 апреля 2024</span></p>
			</div>
			<h2>5 ключевых областей деятельности BIM–координаторов</h2>
			<p class="regular-15">Я с гордостью могу сказать, что являюсь BIM-координатором уже более десяти лет. Это дало мне глубокое понимание того, в чем на самом деле заключается работа и с какими проблемами можно столкнуться.</p>
			<p class="regular-20">Введение</p>
			<p class="regular-15">Чтобы понять, как стать BIM-координатором, мы должны сначала ответить на несколько ключевых вопросов:</p>
			<ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
				<li>Кто такой BIM-координатор?</li>
				<li>Какова роль BIM-координатора в проекте или организации?</li>
				<li>Каковы обязанности BIM-координатора?</li>
			</ul>
			<p class="regular-15">
				Уже предоставив некоторые ответы, мы можем углубиться в основы роли BIM-координатора.<br>
				Важно понимать, что наиболее важно в их работе, а что не так важно. Обладая этими знаниями, мы можем определить навыки, необходимые для того, чтобы стать эффективным BIM-координатором.<br>
				По этой причине я создал план, который охватывает различные аспекты работы BIM-координатора. План включает большинство обязанностей и задач, с которыми вы могли бы столкнуться в этой роли.<br>
				План состоит из пяти основных областей:
			</p>
			<ul class="definition regular-18" style="list-style-type: square; list-style-position: outside; margin-left: 20px;">
				<li>СТРАТЕГИИ,</li>
				<li>Настройка модели,</li>
				<li>Координация,</li>
				<li>Управление проблемами,</li>
				<li>и коммуникация.</li>
			</ul>
			<section id="mobile-bar-new">
				<h1 class="medium-20">Новое</h1>
				<div style="display: flex; flex-direction: row; max-height: 110px;">
					<div class="new-card"></div>
					<div class="new">
						<p class="regular-15" style="margin: 0px; line-height: 17px; font-size: 17px;">Каким должен быть SUPER IFC?</p>
					</div>
				</div>
			</section><br>
			<span class="bottom-span" style="color: plum;"><a href="#up">Наверх</a></span>
		</section>

	</div>
</div>
	</div>
