@page
@{
	ViewBag.Title = "Личный кабинет - Редактирование";
}
<section id="">
	<div class="container">
		<div class="breadcrumps">
			<span class="light-15"><a href="">Пользователи</a> > <a href="">Иванов Иван Иванович</a></span>
		</div>
		<div class="card user-card">
			<div class="card-head">
				<h1 class="user-heading" style="margin-right: 40px; margin-bottom: 0px;">Личный кабинет</h1>
			</div><form class="user-edit-form">
				<div class="user-card-media" style="margin-top: 0px; width:100%;">
					<div class="user-card-media-text" style="margin-left: 0px">

						<table class="user">
							<tbody>
								<tr class="user-tr"><td class="user row-head"><p class="regular-18"><span class="medium-18">Фамилия Имя</span></p></td><td class="user-2col"><input type="text" class="user-edit-input" value="Иванов Иван" placeholder="Введите фамилию и имя через пробел"></td></tr>
								<tr class="user-tr"><td class="user row-head"><p class="regular-18"><span class="medium-18">Отчество</span></p></td><td class="user-2col"><input type="text" class="user-edit-input" value="Иванович" placeholder="Введите отчество"></td></tr>
								<tr class="user-tr"><td class="user row-head"><p class="regular-18"><span class="medium-18">Роль</span></p></td><td class="user-2col"><input type="text" class="user-edit-input role" placeholder="Администратор"></p></td></tr>
								<tr class="user-tr"><td class="user row-head"><p class="regular-18"><span class="medium-18">E-mail</span></p></td><td class="user-2col"><input type="email" class="user-edit-input" value="example@abdev.ru" placeholder="Введите e-mail"></td></tr>
								<tr style="height: 30px;"></tr>
								<tr>
									<td class="user row-head"><p class="regular-20"><span class="medium-18">Активность: </span> </p></td>
									<td class="user">
										<p class="light-18 properties user-activities">Изменение материала <a>Сваи с90-35.8</a> от 12.12.2012</p><br>
										<p class="light-18 properties user-activities">Изменение материала <a>Сваи с90-35.8</a> от 12.12.2012</p><br>
										<p class="light-18 properties user-activities">Создание материала <a>Сваи с90-35.8</a> от 12.12.2012</p><br>
										<p class="light-18 properties user-activities">Изменение материала <a>Сваи с90-35.8</a> от 12.12.2012</p><br>
										<p class="light-18 properties user-activities">Изменение материала <a>Сваи с90-35.8</a> от 12.12.2012</p><br>
										<p class="light-18 properties user-activities">Изменение материала <a>Сваи с90-35.8</a> от 12.12.2012</p><br>
										<p class="light-18 properties user-activities">Изменение материала <a>Сваи с90-35.8</a> от 12.12.2012</p><br>
										<p class="light-18 properties user-activities">Изменение материала <a>Сваи с90-35.8</a> от 12.12.2012</p>
									</td>
									<br>
								</tr>
							</tbody>
						</table>

						<br>
					</div>

				</div>
			</form>
			<div style="display: flex; justify-content: right;"><button type="submit" class="save">Сохранить</button></div>
		</div>
		<div class="views">
		</div>
	</div>
</section>