<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/styles_user_page.css" asp-append-version="true" />
</head>
<body>
	
	@RenderBody()
	
	<script src="https://code.jquery.com/jquery-3.6.3.js"
			integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
			crossorigin="anonymous">
	</script>
	<script src="~/js/main_search.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>