@page
@{
    ViewBag.Title = "Index";
    Layout = "/Views/Shared/_LayoutAuth.cshtml";
}
<section id="nav-bar">
		<div class="container">
			<div id="nav-bar-div" class="nav-bar">
			</div>
		</div>
	</section>
	<section id="">
		<div class="container">
			<div class="card-auth-flex">
				<div class="card-auth">
					<div style="display: flex; align-items: center; flex-wrap: wrap;"><h1 style="margin-bottom: 30px;">Авторизация</h1></div>
					<form class="auth">
					<div class="input-div" ><p class="medium-18">E-mail</p>
					<input class="auth-input" type="email"></div>
					<div class="input-div"><p class="medium-18">Пароль</p>
					<input class="auth-input" type="password"></div>
					<div class="card-head auth"><button>Войти</button></div></form>
				</div>
			</div>
		</div></div>
	</section>